#meta
  - unless @is_up
    %span.down Server offline
  
  Letztes Update:
  = @last_updated.strftime("%d.%m.%Y %H:%M")
  —
  %abbr.timeago{ :title => @last_updated } &nbsp;
  %br/
  - if params[:filter]
    %strong== gefiltert nach #{params[:filter]}
    —
  %a.cupid-green{ :id => 'help', :href => '/help', :title => "Ja, hier könnten wichtige Sachen stehen!" } Hilfe & Filtereinstellungen
          
%script{ :src => "scroller.js" }

%script
  $(function() {
  if($.cookie('notice') != 1) {
  $("#help").tipsy({gravity: 'n'}).mouseover();
  $.cookie('notice', '1');
  }})

= partial :changelist