%html
  %head
    %title Vertretungsplan
    %link{:rel => 'stylesheet', 'href' => 'stylesheets/screen.css', 'media' => 'screen'}/
  %body
    #container
      = yield
      %em Prototyp von Jonas Schneider, 2010