body
  :font-family 'Open Sans'
  :font-size 100%

#container
  :width 800px
  :margin auto
  :clear both

#meta
  margin-bottom: 50px
  
  text-align: right
  color: #444
  font-style: italic

a
  font-weight: bold
  text-decoration: underline
  margin: 0 4px

p
  :clear both

hr
  border: 0
  border-top: 1px solid #aaa
  margin: 30px 100px

.down
  :text-transform uppercase
  :color white
  :background red
  :font-size 70%
  :font-style normal
  :padding 4px
  :border-radius 3px


.changes
  :background-color #ddd
  :padding 20px
  :margin 25px 0
  
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :border-radius 5px
  
  h2
    :font-size 25px
    :margin 0
  
  li
    :background-color #bbb
    :padding 7px
    :display block
    :margin-top 10px
    :font-size 20px
    :font-weight normal
    
    :-moz-border-radius 5px
    
    &:before 
      :content "—"
    .info
      :color #000
      :background-color #ccc
      :font-size 15px

      :-moz-border-radius 4px
      :padding 3px 7px