#meta
  - unless @is_up
    %span.down Server offline
  
  Letztes Update:
  = @last_updated.strftime("%d.%m.%Y %H:%M")
  —
  %abbr.timeago{ :title => @last_updated } &nbsp;

%script{ :src => "scroller.js" }

= partial :changelist